@import "tailwindcss";

@theme{
    --color-dark : #0F172A;
    --color-primary : #6467f2;
    --color-secondary : #1E293B;
    --text-secondary : #94A3B8;
    --color-main : #F1F5F9;
    --color-border-slate : #334155;
    --color-hover-indigo : #818CF8; 
}